# Numpy

In [1]:
import numpy as np

In [57]:
arr = np.arange(11)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [58]:
arr[:5] = 100
arr

array([100, 100, 100, 100, 100,   5,   6,   7,   8,   9,  10])

In [59]:
arr_sub = arr[:5]
arr_sub

array([100, 100, 100, 100, 100])

In [60]:
arr_sub[:5] = 99
arr_sub

array([99, 99, 99, 99, 99])

In [61]:
arr
# noted that in numpy, to reduce the memory space, the array will change the original one.

array([99, 99, 99, 99, 99,  5,  6,  7,  8,  9, 10])

In [62]:
arr_copy = arr.copy()
# use the copy function in numpy to create a new array at different memory space
arr_copy

array([99, 99, 99, 99, 99,  5,  6,  7,  8,  9, 10])

In [63]:
arr_copy[:2] = 21
arr_copy

array([21, 21, 99, 99, 99,  5,  6,  7,  8,  9, 10])

In [102]:
arr.shape[1]

IndexError: tuple index out of range

#### The following method could create a boolean comparison operator for indexing array

In [65]:
arr[arr<20]

# or 
boolean_arr = arr<20
boolean_arr
# arr[boolean_arr]
# in this case it would only return the True one

array([False, False, False, False, False,  True,  True,  True,  True,
        True,  True])

#### When doing numpy operation, those with potential operation errors would only show up as warnings rather than value error

In [66]:
arr = np.arange(11)
arr + arr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [67]:
arr/arr

<ipython-input-67-50b4ced5627e>:1: RuntimeWarning: invalid value encountered in true_divide
  arr/arr

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

# Pandas

In [68]:
import pandas as pd

label_1 = ['USA', 'Italy', 'France']
label_2 = {'USA':1, 'UK':8, 'France':3}

ser1 = pd.Series([1,2,3], label_1)
ser2 = pd.Series(label_2)

In [69]:
ser1

USA       1
Italy     2
France    3
dtype: int64

In [70]:
ser2['UK']

8

In [71]:
ser1 + ser2

# To prevent from losing data, when you add two series in pandas, you'll get a float datatype to save your data
# Those couln't match, will show as null instead

France    6.0
Italy     NaN
UK        NaN
USA       2.0
dtype: float64

In [72]:
ser3 = pd.Series(data=['USA', "ABC", 'Taiwan'], index=[1,2,3])
ser3[1]

'USA'

In [73]:
import numpy as np
from numpy.random import randn
np.random.seed(101)  # it's already been pre-generated from a standard normal distribution, making sure the numbers are the same as teacher's ones

In [74]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [75]:
df['new'] = df['W'] + df['Z']

In [76]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [77]:
df.drop('new', axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [78]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [79]:
df.drop('new', axis=1, inplace=True)  # when inplace=True, you can really delete from the original DataFrame
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [80]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [81]:
df.iloc[0]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [82]:
df.loc['B', 'Y'] # returns a number
# df.loc[['B'], ['Y']] returns a DataFrame instead

-0.8480769834036315

In [83]:
df.loc[['A','B'],['Y','Z']]

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965

In [87]:
df['Y']['B'] = 10 
df['new'] = np.random.randint(1, 50, 5)
df

<ipython-input-87-41306238e6b6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Y']['B'] = 10

          W         X          Y         Z  new
A  2.706850  0.628133   0.907969  0.503826   12
B  0.651118 -0.319318  10.000000  0.605965   16
C -2.018168  0.740122   0.528813 -0.589001   34
D  0.188695 -0.758872  -0.933237  0.955057   30
E  0.190794  1.978757   2.605967  0.683509   25

In [92]:
# if you're going to use mutiple-levels selction(多級選取) like ['Y']['B'], please use loc to prevent settingwithcopywarning

df.loc['B','Y'] = 14
df

          W         X          Y         Z  new
A  2.706850  0.628133   0.907969  0.503826   12
B  0.651118 -0.319318  14.000000  0.605965   16
C -2.018168  0.740122   0.528813 -0.589001   34
D  0.188695 -0.758872  -0.933237  0.955057   30
E  0.190794  1.978757   2.605967  0.683509   25

In [95]:
dicti = {'a':1, 'b':31, 'c':12}
print(dicti.get('apple'))

None